body,html {
	margin:0;
	height:100%;
	width:100%;
}

#map {
	height: 100%;
}

body {
	background-color: rgb(236, 242, 238);
    display: grid;
	grid-template-rows: 100px 1fr 30px;
	grid-template-columns: 200px 1fr;
	grid-template-areas: 
	"header header"
	"sidebar content"
	"footer footer";
}

.header {
	background: url(imagens/barra_grande2.jpg);
	background-size: 1300px 100px;
	grid-area: header;
	padding:10px;
	background-color: rgb(93, 162, 122);
	color: white;
	font-size: 2em;
}

.content {
	grid-area: content;
}

.footer {
	text-align: right;
	font-style: italic;
	font-size: 12px;
	grid-area: footer;
	padding:10px;
	background-color: rgb(236, 242, 238);
}