body,html {
	margin:0;
	height:100%;
	width:100%;
}

#map {
	height: 100%;
}

body {
	background-color: rgb(236, 242, 238); 
    display: grid;
	grid-template-rows: 100px 1fr 30px;
	grid-template-columns: 1fr 400px;
	grid-template-areas: 
	"header header"
	"content sidebar"
	"footer footer";
}

.header {
	background: url(imagens/barra_grande2.jpg);
	background-size: 1300px 100px;
	opacity: 0.5;
	grid-area: header;
	padding:10px;
	color: white;
	font-style: bold;
	font-size: 3em;
}

.content {
	grid-area: content;
}

.sidebar {
	grid-area: sidebar;
}

.footer {
	text-align: left;
	font-style: italic;
	color: white;
	font-size: 12px;
	grid-area: footer;
	padding:10px;
	background-color: rgb(50, 50, 50);
}

#id_picture{
	text-align: center;
	background-color: rgb(255, 255, 255);
	border-radius: 50%;
	width: 120px;
	height: 120px;
	overflow: hidden;
	position: relative;
	margin-left: auto;
  	margin-right: auto;
}

#info_bar{
	text-align: center;
	font-style: bold;
	color: white;
	font-size: 18px;
	background-color: rgb(81, 79, 100);
}